/* Color Theme Swatches in Hex */
.Teal-and-Gray-1-hex { color: #00747C; }
.Teal-and-Gray-2-hex { color: #00BBC9; }
.Teal-and-Gray-3-hex { color: #CACACA; }
.Teal-and-Gray-4-hex { color: #878787; }
.Teal-and-Gray-5-hex { color: #202022; }

/* Color Theme Swatches in RGBA */
.Teal-and-Gray-1-rgba { color: rgba(0, 116, 124, 1); }
.Teal-and-Gray-2-rgba { color: rgba(0, 186, 200, 1); }
.Teal-and-Gray-3-rgba { color: rgba(202, 202, 202, 1); }
.Teal-and-Gray-4-rgba { color: rgba(135, 135, 135, 1); }
.Teal-and-Gray-5-rgba { color: rgba(31, 31, 33, 1); }

/* Color Theme Swatches in HSLA */
.Teal-and-Gray-1-hsla { color: hsla(183, 100, 24, 1); }
.Teal-and-Gray-2-hsla { color: hsla(184, 100, 39, 1); }
.Teal-and-Gray-3-hsla { color: hsla(0, 0, 79, 1); }
.Teal-and-Gray-4-hsla { color: hsla(0, 0, 52, 1); }
.Teal-and-Gray-5-hsla { color: hsla(240, 3, 12, 1); }
